{% load static %}

{% for item in basket %}
<div class="user_product">
    <img style="width: 150px;" src="/media/{{ item.product.image }}" alt="{{ item.product.short_desc }}">
    <div class="category_name">{{ item.product.category.name|upper }}
        {{ item.product.name }}
        {{ item.product.price }}&nbspруб
    </div>
    <input class="input" type="number" name="{{ item.pk }}" min="0" value="{{ item.quantity }}">
    <span class="product_cost">{{ item.product_cost }}&nbspруб</span>
    <a href="{% url 'basket:delete' item.pk %}" class="delete_product">
        удалить
    </a>
</div>
{% endfor %}
<div class="user_basket">
    {% if basket %}
    <div class="basket_sum">
        В корзине {{ basket.0.total_quantity }} товаров общей стоимостью
        {{ basket.0.total_cost }} руб
    </div>
    {% endif %}
</div>
